/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 70px;
}

.cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel {
  @include box-shadow(none);

  h3, .h3 {
    margin-top: 0;
  }

  .list-unstyled {
    margin-bottom: 0;
  }
}

a {
  &.username {
    text-decoration: none;
  }
}

.stream {
  .panel {
    .panel-heading {
      border-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 0;
      border-bottom: 0;
      @include border-bottom-radius(0)
    }

    &:not(:first-child) {
      @include border-top-radius(0)
    }
  }
}

.feed {
  .status {
    .text {
      margin-top: 10px;
    }

    .actions {
      margin-top: 15px;
    }
  }
}

.tweet {
  article {
    font-size: 18px;
    margin-top: 10px;
  }
}

.layout {
  %stats {
    a {
      text-decoration: none;

      h4, .h4 {
        margin: 0;
      }
    }
  }

  &.application {
    .profile-card {
      .stats {
        @extend %stats;
      }
    }
  }

  &.user {
    .nav {
      @extend %stats;
    }

    .who-to-follow {
      ul {
        @include list-unstyled;
        margin-bottom: 0;

        li {
          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          .profile {
            @extend .cut;
          }
        }
      }
    }

    .card {
      .description {
        height: 115px;
        overflow: hidden;
        margin-bottom: 15px;
      }
    }
  }
}